@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

ul {
    list-style: none;
}
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}
